<h2 class="gallery-logo">Галерея</h2>
<div class="wrapper__publications mt-100">
    {{#each publications}}
        <div class="wrapper__publications-item" style="background-image: url('/uploaded-photo/{{this.file_name}}');">
            <div class="wrapper__publication-item-filter"></div>
            <span class="wrapper__publications-item-about-span" id="{{this.id}}">Докладніше</span>
        </div>
    {{/each}}
</div>

{{#if loadMore}}
    <button class="load-more-btn mt-50 mb-50">Завантажити більше</button>
{{/if}}
