{{#if publications}}
  <h2 class="page-logo">Галерея</h2>
{{/if}}
<!-- Modal Structure -->
<div id="modal-image" class="modal">
  <div class="modal-content">
    <div class="card">
      <div class="card-image">
        <img src="" id="modal-image-image">
      </div>
    </div>
    <p id="modal-image-description"></p>
    <button class="btn red darken-3 modal-delete-button"><i class="material-icons">delete</i></button>
  </div>
</div>

<form class="upload-file-form mb-50" method="POST" action="/admin/gallery/" enctype="multipart/form-data">
  <input type="file" class="upload-file-input" name="file" accept="image/png, image/jpeg, image/png"/>
  <input type="text" placeholder="Опис:" name="description">
  <button type="submit" class="btn grey darken-3 waves-light">Завантажити</button>
</form>

<div class="wrapper__publications mt-100">
  {{#if publications}}
    <div class="row">
      {{#each publications}}
        <div class="col s12 m6 l3 modal-trigger" data-target="modal-image" id="{{this.id}}">
          <div class="card pa-2">
            <div class="card-image">
              <img src="/uploaded-photo/{{this.file_name}}">
            </div>
            {{#if this.description}}
              <div class="card-content">
                <p class="image-description">{{this.description}}</p>
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <h2 class="no-publications-logo mt-50">Немає фото :(</h2>
  {{/if}}
</div>

{{#if loadMore}}
  <button class="load-more-btn mt-50 mb-50 btn grey darken-3 d-block ma-auto">Завантажити більше
    <i class="material-icons right">autorenew</i>
  </button>
{{/if}}
