<form class="upload-photo-form" method="POST" action="/admin/gallery/" enctype="multipart/form-data">
    <input type="file" class="upload-photo-input" name="file" accept="image/png, image/jpeg, image/png"/>
    <input type="text" placeholder="Опис:" name="description">
    <button type="submit">Завантажити</button>
</form>
<div class="wrapper__publications">
    {{#each publications}}
        <div class="wrapper__publications-item">
            <div class="wrapper__publication-item-filter"></div>
            <img src="/uploaded-photo/{{this.file_name}}" alt="Зображення" class="wrapper__publications-item-img">
            <span class="wrapper__publications-item-about-span" id="{{this.id}}">Докладніше</span>
        </div>
    {{/each}}
</div>

{{#if loadMore}}
    <button class="load-more-btn mt-50 mb-50">Завантажити більше</button>
{{/if}}
