.auth__form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    margin-top: 200px;
    background-color: #B9B9B9;
    padding: 15px;
    border-radius: 5px;
    color: #000;
}

.auth__form input {
    background-color: transparent;
    margin-bottom: 15px;
}

.auth__form button {
    height: 40px;
    cursor: pointer;
}

.wrapper__auth-form-message {
    display: none;
    border: 1px solid red;
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
