.wrapper__music-item audio {
    width: 70%;
    margin: 0;
}

.wrapper__music-item {
    width: 60%;
    margin: 0 auto;
}

.wrapper__music-sub-item {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.wrapper__music-item button {
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}
