iframe {
    width: auto;
    height: auto;
}

.wrapper__search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapper__search input {
    max-width: 500px;
    width: 100%;
}

.wrapper__search button {
    margin-left: 5px;
    width: 90px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.wrapper__search button:hover {
    background-color: #313131;
    transition: .2s;
}

.blog-description {
    text-align: center;
    margin-top: 50px;
}

.wrapper__articles-item-small-text {
    font-size: 12px !important;
    text-align: left !important;
    padding-top: 10px;
    padding-bottom: 20px;
}

.wrapper__articles-item-small-text * {
    text-align: left !important;
}

