iframe {
    width: auto;
    height: auto;
}

.blog-description {
    text-align: center;
    margin-top: 50px;
}

.wrapper__articles-item-small-text {
    font-size: 12px !important;
    text-align: left !important;
    padding-top: 10px;
    padding-bottom: 20px;
}

.wrapper__articles-item-small-text * {
    text-align: left !important;
}

.articles-not-found-logo {
    font-size: 18px;
}

.wrapper__search-mobile {
    display: none;
}

@media screen and (max-width: 992px) {
    .wrapper__search-mobile {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        margin: 0 auto;
    }
}


