.wrapper__modal-photo-gallery {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.wrapper__modal-photo-gallery-right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.delete-publication-btn {
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

.wrapper__modal-photo-gallery-description {
    width: 100%;
}

.wrapper__modal-photo-gallery img {
    width: auto;
    max-width: 700px;
    max-height: 600px;
    min-height: 300px;
    object-fit: contain;
}

.wrapper__modal-photo-gallery-close-btn {
    width: 25px;
    height: 25px;
    margin-left: auto;
    display: block;
    cursor: pointer;
    background: transparent;
}

@media screen and (max-width: 1200px) {
    .wrapper__modal-photo-gallery {
        flex-direction: column;
    }
    .wrapper__modal-photo-gallery h2 {
        font-size: 14px;
    }
    .wrapper__modal-photo-gallery {
        padding: 15px;
    }
    .wrapper__modal-photo-gallery-right-side {
        padding: 0;
    }
    .wrapper__modal-photo-gallery-close-btn {
        margin-top: 15px;
    }
}

@media screen and (max-width: 380px) {
    .wrapper__publications {
        justify-items: left;
    }
    .delete-publication-btn {
        width: 89%;
    }
    .wrapper__modal-photo-gallery h2  {
        font-size: 12px;
    }
}
