img {
    max-width: 100%;
    height: 100%;
}

iframe {
    width: auto;
    height: auto;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

.wrapper__comments-grade {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.wrapper__comments-like {
    width: max-content;
}

.wrapper__comments-dislike {
    width: max-content;
}

.wrapper__comments-like-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    background-image: url("/images/like.png");
    background-position: center;
    background-size: 18px;
    background-repeat: no-repeat;
}

.wrapper__comments-like-btn-liked {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: rgba(68,127,215, 1);
    border-radius: 5px;
    z-index: 1;
    background-image: url("/images/like.png");
    background-position: center;
    background-size: 18px;
    background-repeat: no-repeat;
}

.wrapper__comments-dislike-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
    background-image: url("/images/dislike.png");
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
}

.wrapper__comments-dislike-btn-disliked {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: rgba(68,127,215, 1);
    border-radius: 5px;
    z-index: 1;
    background-image: url("/images/dislike.png");
    background-position: center;
    background-size: 16px;
    background-repeat: no-repeat;
}

.wrapper__comments-like img {
    width: 18px !important;
    height: 18px !important;
    z-index: 10;
}

.wrapper__comments-dislike img {
    width: 18px !important;
    height: 18px !important;
    z-index: 10;
}
