.load-more-btn {
    display: block;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: .2s;
    border: none;
    border-radius: 5px;
}

.load-more-btn:hover {
    background-color: #313131;
    transition: .2s;
}
