.wrapper__modules {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
}

.wrapper__modules a {
    font-size: 20px;
    background-color: #ececec;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}

.exit-btn {
    background-color: darkred;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 120px;
}

.edit-blog-description-form-logo {
    text-align: center;
    margin-top: 50px;
}

.edit-blog-description-form {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.edit-blog-description-form button {
    width: 20%;
    margin-left: 20px;
}

.edit-blog-description-form input {
    width: 75%;
}

.edit-blog-description-form button {
    cursor: pointer;
}

.exit-btn-link {
    background-color: #fff !important;
    width: min-content !important;
}

