<h2 style="text-align: center;">Зворотній зв'язок</h2>

<h3 class="mt-50">Контакти:</h3>
<p class="mt-20">Моя пошта: kovalenkogeorge940@gmail.com</p>
<p>Моя пошта 2: george.kovalenko.2005@gmail.com</p>
<p>Мій телеграм: @Goshan2288</p>
<p>Мій LinkedIn:
    <a href="https://www.linkedin.com/in/george-kovalenko-049ba0215?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
        George Kovalenko
    </a>
</p>
<p>Мій GitHub:
    <a href="https://github.com/Neroun547" target="_blank">
        Neroun547
    </a>
</p>
<p class="mt-20">P.S Пишіть у будь який час, якщо є якісь пропозиції :)</p>
