<ul class="collection with-header mt-50">
  <li class="collection-header"><h3>Контакти:</h3></li>
  <li class="collection-item">Моя пошта: kovalenkogeorge940@gmail.com</li>
  <li class="collection-item">Моя пошта 2: george.kovalenko.2005@gmail.com</li>
  <li class="collection-item">Мій телеграм: @Goshan2288</li>
  <li class="collection-item">Мій LinkedIn:
    <a href="https://www.linkedin.com/in/george-kovalenko-049ba0215?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
      George Kovalenko
    </a>
  </li>
  <li class="collection-item">
    Мій GitHub:
    <a href="https://github.com/Neroun547" target="_blank">
      Neroun547
    </a>
  </li>
</ul>
