<form class="upload-file-form" method="POST" action="/admin/gallery/" enctype="multipart/form-data">
    <input type="file" class="upload-photo-input" name="file" accept="audio/mpeg"/>
    <input type="text" placeholder="Автор композиції" name="author">
    <input type="text" placeholder="Назва композиції:" name="name">
    <button type="submit">Завантажити</button>
</form>
